<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h2>Add Todo's here!</h2>
<form class="" action="/add" method="post">
  <input type="text" name="todo" value="">
  <button type="submit" name="addtodo">Add ToDo</button>
  <br>
</form>
<h3>Open Todo's</h3>
{{#todosOpen}}
<form class="" action="/completed" method="post">
  <p><button type="submit" name="mark">Mark as Complete</button>
    <input type="text" name="marked" value="{{.}}"></p>
</form>
{{/todosOpen}}
<h3>Completed tasks</h3>
{{#todosCompleted}}
<p><strike>{{.}}</strike></p>
{{/todosCompleted}}
  </body>
</html>
